p {
    margin: 0;
    width: fit-content;
}
.link {
    text-decoration: none;
}
.container-fluid {
    flex-wrap: nowrap;
}
.navbar {
    width: 100%;
}
.navbar-brand {
    display: flex;
    align-items: center;
}